html, body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

body > #root > div {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
   font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  overflow-x: hidden;
}

.App {
  /*padding-top: 10px;
  padding-right: 35px;*/
  background-color: #000;
}

.header-container {
  text-align: center;
}

.logo {
  display: inline-block;
  box-sizing: border-box;
  width: 70px;
  aspect-ratio: 1;
  border: 13px solid #000;
  background: radial-gradient(farthest-side,#fff 85%,#0000) top, radial-gradient(farthest-side,#fff 85%,#0000) top, radial-gradient(farthest-side,#fff 85%,#0000) left, radial-gradient(farthest-side,#fff 85%,#0000) right, radial-gradient(farthest-side,#fff 85%,#0000) bottom, #000;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  top: 18px;
  position: relative;
  z-index: 0;
}
.logo.logo-animation {
  animation: logo 2s infinite;
}
@keyframes logo {
  0%   {background-position:top,top,left,right,bottom;}
  25%  {background-position:right,top,left,right,bottom;}
  50%  {background-position:bottom,top,left,right,bottom;}
  75%  {background-position:left,top,left,right,bottom;}
  100% {background-position:top,top,left,right,bottom;}
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #eee;
  display: inline-block;
  margin-bottom: 3px;
  z-index: 1;
  position: relative;
}

h3 {
  color: #8D8D8D;
  font-weight: 400;
  margin: 3px 0 30px 0;
}

.input-containter {
    width: 50%;
    margin: 0 25%;
    position: relative;
}

.input-containter input {
  border-radius: 50px;
  padding: 0 50px;
  font-size: 16px;
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'MONTSERRAT';
  border: 0;
}

.input-containter .magnifying-glass{
  height: 20px;
  position: absolute;
  z-index: 1;
  margin-left: 15px;
  margin-top: 12px;
}

/*
.input-containter .clean-input {
  height: 18px;
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  right: 11px;
  cursor: pointer;
  padding: 10px;
}
*/

.button {
  position: absolute;
  width: 95px;
  height: 34px;
  border-radius: 50px;
  vertical-align: middle;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-align: center;
  background-color: #00A3FF;
  display: inline-block;
  right: 5px;
  top: 4px;
}

.fact-container {
  min-height: 100px;
  padding: 85px 25% 40px 26%;
  line-height: 34px;
  font-size: 21px;
  color: whitesmoke;
  white-space: pre-line;
}

.fact-tldr{
  padding: 9px;
  background-color: #EBFF00;
  color: black;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 5px;
  font-weight: 600;
  min-width: 110px;
  text-align: center;
}

.fact-tldr.tldr-true {
  color: white;
  background-color: #47B24C;
}

.tldr-true:after, .tldr-false:after {
  content:'!';
}

.fact-tldr.tldr-false {
  color: white;
  background-color: #FF3939;
}

.fact-title {
  font-weight: bold;
}

.fact-sources-title {
  padding-bottom: 20px;
}

.source-container {
  color: white;
  padding: 25px 25% 10px 26%;
}

.fact-sources {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  margin: 0 16px 16px 16px;
}

.fact-card {
  padding: 10px;
  width: 30%;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-left: 3.3%;
  margin-bottom: 30px;
}

.fact-card-title {
  font-weight: bold;
  margin-bottom:10px;
}

.fact-card-url {
  color: whitesmoke;
}

.icons-container {
  text-align: right;
}

.copy-button {
  height: 25px;
  padding-left: 15px;
  cursor: pointer;
}

.copy-button.twitter-button {
  height: 20px;
  margin-bottom: 3px;
}

.copy-button.screen-shoot-button { 
  height: 27px;
  margin-bottom: -1px;
}

.responseStyle {
  margin: 15px 50%;
  position: absolute;
  left: 22%;
  width: 100px;
}

.responseStyle img {
  cursor: pointer;
  height: 50px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  bottom: 10px;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 30px;
  }
  .input-containter {
    width: 96%;
    margin: 0px 2%;
  }
  .input-containter input {
    width: 100%;
    margin: 0;
    font-size: 15px;
  }
  .App {
    padding-top: 10px;
    padding-right: 0;
  }
  .button {
    left: calc(50% - 70px);
    margin-top: 20px;
  }
  .fact-container {
    padding: 80px 7% 40px;
    line-height: 28px;
    font-size: 15px;
  }
  .responseStyle {
    left: 20%;
  }
  .source-container{
    padding: 0 7% 10px 7%;
    margin-top: -30px;
  }
  .fact-card {
    width: 100%;
  }
}